.methodic{
    padding-top: 55px;
    padding-bottom: 115px;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-size: 50px;
        line-height: 61px;
        color: #713F10;
        font-weight: 500;
    }
    &__descr{
        font-size: 30px;
        line-height: 120%;
        color: #434242;
        max-width: 690px;
        margin-top: 59px;
        margin-right: 300px;
    }
    &__item{
        position: relative;
        &:first-child{
            margin-right: 90px;
        }
        p:nth-child(2){
            margin-top: 25px;
        }
    }
    &__img{
        &:first-child{
            position: absolute;
            border: 10px solid #fff;
            top: 65px;
            right: 250px;
        }
    }
    &__flex-item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__base-data{
        margin-top: 100px;
        text-align: center;
        font-size: 40px;
        line-height: 120%;
        color: #434242;
    }
    &__flex{
        margin-top: 75px;
        display: flex;
        justify-content: center;
        gap: 75px;
    }
    &__data-img{
        display: block;
        margin: 0 auto;
        width: 70%;
    }
    &__data-descr{
        margin-top: 40px;
        text-align: center;
        font-size: 27px;
        line-height: 120%;
        color: #434242;
    }

    &__download {
        cursor: pointer;
        background-color: #fff;
        border: 2px solid #434242;
        border-radius: 70px;
        padding: 20px 40px;
        font-size: 23px;
        line-height: 48px;
        color: #434242;
        display: flex;
        margin: 0 auto;
        margin-top: 115px;
        align-items: center;
        &:hover{
            text-decoration: underline;
        }
        img {
            width: 15%;
            margin-left: 15px;
        }
    }
}