.login {
    background-image: url('../../assets/img/background.png');
    background-size: cover;
    background-position: 0 -100px;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    padding: 60px 80px;
    overflow-x: hidden;
    &__container{
        display: flex;
        justify-content: flex-end;
    }
    &__login{
        padding: 7px 60px;
        border: 2px solid #FFFFFF;
        border-radius: 50px;
        font-weight: 500;
        font-size: 27px;
        line-height: 48px;
        color: #FFFFFF;
        text-decoration: none;
        margin-right: -45px;
        &:hover{
            border: 2px solid #000;
            color: #000;
        }
    }
    &__links-container{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -45px;
        top: 45vh;
        transform: translateY(-50%);
        gap: 50px;
    }
    &__link-img{
        &:hover{
            filter: invert(100%);
        }
    }
}